@charset "UTF-8";

/*
    Class = .
*/

body {
    background-color: #E6D4A5;
    font-family: sans-serif;
}

h1 {
    color: #998E6E;
}

h1#principal {
    text-align: center;
    font-size: 2.3em;
    background-color: #595340;
    color: #ece5d4;
}

.basico {
    color: rgb(159, 197, 82);
    font-weight: bold;
}

.intermediario {
    color: rgb(255, 255, 0);
}

.avancado {
    color: rgb(202, 96, 96);
}